*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html{
  height: 2700px; 
} */

li{
  list-style: none;
  
}

.header__bottom-shadow{
  box-shadow: 0 1px 2px #c0bbbb;
}

.header__navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  padding: 2px 12px;
}

.header-logo{
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.header__navbar-first{
  display: flex;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}

.header__navbar-main-1{
  padding: 10px;
  text-decoration: none;
}

.header__navbar-last{
  display: flex;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}

.header__navbar-main-2{
  padding-left: 20px;
  text-decoration: none;
}

/* header sidebar */

.header__sidebar{
  margin: 40px 107px;
}

.header__sidebar-tab{
  position: relative;
}

.header__sidebar-pic{
  display: flex;
  width: 100%;
  /* background: rgba(14,19,24,.8); */
  border-radius: 20px;
}

.sidebar-img{
  width: 110%;
  height: 344px;
  border-radius: 20px;
}

.header__sidebar .header__sidebar-text{
  display: flex;
  top: 30%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}


.text-content{
  margin-bottom: 20px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #2987cb;
}

.button{
  cursor: pointer;
  padding: 6px 16px; 
  margin: auto;
  color: #fff;
  background-color: #8b3dff;
  border: 2px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.header__sidebar-text a:hover{
  color: #fff;
  opacity: 0.8;
}

.content{
  position: relative;
  z-index: 0;
}

.content__first{
  display: block;
  margin: 48px 118px;
  padding: 0 218px;  
}

.content-img-1{
  padding: 20px 0 35px;
  text-align: center;
  height: 485px;
  width: 848px;
}

span{
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
}

.content__second{
  background-color: #f8f9f9;
  padding: 48px;
  border-radius: 4px;
  margin-bottom: 48px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1284px;
}

.content__second-main{
  display: flex;
  width: 100%;
  /* flex-direction: row; */
}

.content__second-img{
  position: relative;
  display: block;
  width: 60%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  align-self: stretch;
}

.content-img-2{
  width: 570px;
  height: 356px;
}

.content__second-ex{
  margin-left: 30%;
  margin-top: -30px;
}

.content__second-ol{
  font-family: Noto Sans Vietnamese,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  list-style: none;
}

.content__second-li{
  position: relative;
  line-height: 1.6rem;
  font-size: 16px;
}

.content__second-li:before{
  direction: ltr;
  margin-left: 0;

}

.content__second-li:before{
  content: counter(numberedList);
  counter-increment: numberedList;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
  top: 0.2px;
  left: -22px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.inDam{
  font-weight: 700;
  font-size: 1.3rem;
}

.content__second-ex a:hover{
  color: #fff;
  opacity: 0.8;

}

.footer{
  padding: 10px 116px;
  margin-top: 100px;
}

.footer__footer{
  font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
}

.footer__foo{
  display: flex;
  flex-direction: row;
  /* box-shadow: 0 1px 2px #912e2e;
  margin-bottom: 2px; */
}

.footer__flex{
  display: block;
  flex-basis: 0;
  flex-grow: 1;
}

.footer__foo-tt{
  /* position: absolute; */
  overflow: hidden;
  /* white-space: nowrap; */
}

.footer__foo ul{
  padding-left: 0;
}

.footer__second{
  box-shadow: 0 1px 2px #912e2e;
  margin-top: 30px;
  margin-bottom: -10px;
  padding: 2px;
}

.footer__lang{
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-content: flex-start;
  white-space: nowrap;
  margin: 20xp 0;
  padding: 20px 0;
  
}

/* .footer-language{
} */

.footer-language-flex{
  flex: 1;
  display: flex;
  justify-content: flex-start;

}

.footer-language-text{
  display: flex;
  margin: 20px 0;
  align-items: center;
  text-decoration: none;
  color: rgba(13,18,22,.7);
  transition: color .2s;
  min-height: unset;
  flex-grow: 1;
  flex-basis: 0;
}

.footer-from{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.footer-from-content{
  color: rgba(17,23,29,.6);
}

.footer-icon{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  flex-grow: 1;
  flex-basis: 0;
}

.mr-8{
  margin-right: 8px;
}

.footer-icon-fb{
  color: #1877f2;
  width: 24px;
  height: 24px;
}

.footer-icon-tw{
  color: #1da1f2;
  width: 24px;
  height: 24px;
}